body{
    margin: 0;
    text-align: center;
}
div{
    box-sizing: border-box;
    display: block;
    margin: 16px;
    height: min-content;
    width: min-content;
    background-color: rgb(130, 233, 178);
    font-size: 64px;
    padding: 64px;
    border: 40px solid rgb(74, 186, 37);
}
body > div{
    display: inline-block;
    margin: 020px;
}
figure{
    width: 300px;
    margin: 20px auto;
    padding: 10px;
    background-color: antiquewhite;
    border: 1px solid rgb(188, 169, 211);
    border-radius: 6px;
}
figure img{
    width: 100%;
    height: 300px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}
figcaption{
    margin-top: 10px;
    font-size: 0.85rem;
    color: rgb(207, 127, 30);
    text-align: center;
}