body{
    margin: 0;
}
div{
    box-sizing: border-box;
    display: block;
    margin: 16px;
    height: min-content;
    width: min-content;
    background-color: rgb(130, 233, 178);
    font-size: 64px;
    padding: 64px;
    border: 40px solid rgb(74, 186, 37);
}
figure{
    width: 300px;
    margin: 20px auto;
    padding: 10px;
    background-color: antiquewhite;
    border: 1px solid rgb(188, 169, 211);
    border-radius: 6px;
}